.ninjaCard {
  padding: 14px 22px;
  background-color: lightblue;
  border-radius: 4px;
  border-left: 0;
  color: rgb(9, 59, 57);
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
  transition: border 120ms ease-in;
}

.ninjaCard:hover {
  border-left: 8px solid orange;
  font-weight: normal;
}
