.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  padding: 1rem 0;
}
.navItem {
  display: inline-block;
  margin-right: 1rem;
  text-transform: capitalize;
}
.navItem:hover {
  color: orangered;
}
